<!-- En dış çerçeve -->
<div class="cerceve">
    <!-- resim veya video görsel-->
    <!--<div class="gorsel" [style.background-image]="url(imageSrc)">-->
    <div class="gorsel" [ngStyle]="{'background-image':'url('+imageSrc+')'}">
    </div>
    <!-- başlık ve kısa içerik-->
    <div class="yazi">
        <!-- başlık -->
        <div class="baslik">
            Ayasofyada Bir Kış Günü
        </div>
        <!-- içerik / tanıtım vs...-->
        <div class="icerik">
            <p>
                Uzun zaman sonra sonunda ben de bu güzel camiyi görebildim...Uzun zaman sonra sonunda ben de bu güzel camiyi görebildim...Uzun zaman sonra sonunda ben de bu güzel camiyi görebildim...Uzun zaman sonra sonunda ben de bu güzel camiyi görebildim...Uzun zaman sonra sonunda ben de bu güzel camiyi görebildim...Uzun zaman sonra sonunda ben de bu güzel camiyi görebildim...Uzun zaman sonra sonunda ben de bu güzel camiyi görebildim...Uzun zaman sonra sonunda ben de bu güzel camiyi görebildim...Uzun zaman sonra sonunda ben de bu güzel camiyi görebildim...Uzun zaman sonra sonunda ben de bu güzel camiyi görebildim...Uzun zaman sonra sonunda ben de bu güzel camiyi görebildim...Uzun zaman sonra sonunda ben de bu güzel camiyi görebildim...
            </p>
        </div>
        <!-- Buttonlar-->
        <div class="buttonlar">
            <button class="goruntule btn" (click)="goruntule()">Görüntüle</button>
            <button class="duzenle btn" (click)="duzenle()">Düzenle</button>
        </div>
    </div>
</div>
