
.icon{
    height: 27px;
    width: 27px;
}

.icon:hover{
    display:flex;
    height: 40px;
    width: 40px;
    border-radius: 20%;
    box-shadow: -5px -5px 5px grey,
    5px 5px 5px grey,-5px 5px 5px grey,
    5px -5px 5px grey;
}