
.icon{
    height: 27px;
    width: 27px;
}

.icon:hover{
    display:flex;
    height: 40px;
    width: 40px;
    border-radius: 20%;
    box-shadow: 
     0px -1px 5px aquamarine,
     0px  1px 5px aquamarine,
     5px  0px 5px grey,
    -5px  0px 5px grey;
}