<ul class="nav">
    <li class="me-3"><a class="text-muted" [href]="twitterUrl" target="_blank"><img class="icon" src="./../../../assets/Icon/Twitter-icon.png" alt="Twitter"></a></li>
    <li class="me-3"><a class="text-muted" [href]="instagramUrl" target="_blank"><img class="icon" src="./../../../assets/Icon/Instagram-icon.png" alt="İnstagram"></a></li>
    <li class="me-3"><a class="text-muted" [href]="facebookUrl" target="_blank"><img class="icon" src="./../../../assets/Icon/Facebook-icon.png" alt="Facebook"></a></li>
</ul>
