.bg-dark{
    --bs-bg-opacity:0.65 !important;
    /* background-color: rgba(0, 0,0,0.7) !important; */
}

.ozel::after{

    content:'' ;
    height:2px; /*2px;*/
    width: 0px;
    float: left;
    background: #0decd6;
    /*position:absolute;*/
    left: 0px;
    top:10px; 
    transition: 0.3s;
    border-radius: 3px;
}

.ozel:hover::after{
    width: 100%;
}

.ozel:hover{
    font-size:x-large;
    transition: 0.1s;
}
